* {
  box-sizing: border-box;
}


#category {
  width: 120px;;
  padding: 7px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}




h2 {
  margin: 50px 10px;
    display: flex;
  justify-content: space-between;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}