<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trade">

	<insert id="insertOneTrade">
		insert into
			my_trade_history	
		values(
			seq_my_trade_history_rent_no.nextval,
			#{resNo},
			#{pay},
			#{borrowerCash},
			default,
			#{deposit},
			default,
			#{lenderCash}
		)
	</insert>
	
	<select id="selectBorrowList" resultType="trade">
		select
			*
		from
			my_trade_history mth left join booking_reservation br using(res_no)
		where
			br.borrower_id = #{id}
	</select>
	
	<select id="selectLendList" resultType="trade">
		select
			mth.price,
			mth.deposit,
			mth.trade_date
		from
			my_trade_history mth left join booking_reservation br using(res_no) left join booking using(board_no)
		where
			writer = #{lenderId} and status in ('대여중', '대여거부', '반납완료', '분실', '대기')
	</select>

</mapper>