<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trade">

	<insert id="insertOneTrade">
		insert into
			my_trade_history	
		values(
			seq_my_trade_history_rent_no.nextval,
			#{resNo},
			#{pay},
			0,
			default,
			#{deposit},
			default
		)
	</insert>

</mapper>