<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<insert id="insertAdminReply">
		insert into admin_inquire
		values(seq_admin_inquire_no.nextval, #{inquireNo}, #{adminId}, #{adminName}, #{content}, default, default)
	</insert>
	
	
	<select id="selectChart" resultMap="chartMap">
		select  
			extract(month from m.enroll_date) as md
			,count(*) 
		from 
			member m 
		where 
			extract(month from m.enroll_date) is not null 
		group by 
			extract(month from m.enroll_date) 
		order by
			extract(month from m.enroll_date) asc
	
	</select>
	
	
	<select id="selectChartDay" resultMap="chartMap">
		select 
			* 
		from 
			(select 
				extract(day from enroll_date) as md,count(*) 
			from 
				member 
			where 
				extract(month from enroll_date) = #{month} 
			group by 
				extract(day from enroll_date))
			order by 
				md asc
	
	</select>
	
	<resultMap type="chart" id="chartMap">
		<result column="md" property="md"/>
		<result column="COUNT(*)" property="count"/>
	</resultMap>
  

</mapper>

















