<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<insert id="insertAdminReply">
		insert into admin_inquire
		values(seq_admin_inquire_no.nextval, #{inquireNo}, #{adminId}, #{adminName}, #{content}, default, default)
	</insert>
	
	<update id="updateReportUserCondition">
		update report_user set condition = #{condition} where no = #{no}
	</update>
	
	<update id="updateReportBoardCondition">
		update report_board set condition = #{condition} where no = #{no}
	</update>
	
	<select id="selectChart" resultMap="chartMap">
		select  
			extract(month from m.enroll_date) as md
			,count(*) 
		from 
			member m 
		where 
			extract(month from m.enroll_date) is not null 
		group by 
			extract(month from m.enroll_date) 
		order by
			extract(month from m.enroll_date) asc
	
	</select>
	
	
	<select id="selectChartDay" resultMap="chartMap">
		select 
			* 
		from 
			(select 
				extract(day from enroll_date) as md,count(*) 
			from 
				member 
			where 
				extract(month from enroll_date) = #{month} 
			group by 
				extract(day from enroll_date))
			order by 
				md asc
	
	</select>
	
	<resultMap type="chart" id="chartMap">
		<result column="md" property="md"/>
		<result column="COUNT(*)" property="count"/>
	</resultMap>
  

	<select id="selectAllInquire" resultMap="inquireMap">
		select
		    i.*,
		    (select condition from admin_inquire where inquire_no = i.no) condition
		from
		    inquire i
		order by
		    no desc
	</select>
	
	<resultMap type="inquire" id="inquireMap">
		<id column="no" property="no"/>
		<result column="title" property="title"/>
		<result column="category" property="category"/>
		<result column="content" property="content"/>
		<result column="reg_date" property="regDate"/>
		<result column="member_id" property="memberId"/>
		<result column="condition" property="condition"/>
	</resultMap>
	
	<select id="selectTotalInquire" resultType="_int">
		select count(*) from inquire
	</select>
	
	<select id="selectOneInquire" resultType="inquire">
		select * from inquire where no = #{no}
	</select>
	
	<select id="selectOneAdminInquire" resultType="adminInquire">
		select * from admin_inquire where inquire_no = #{no}
	</select>
	
	<select id="selectAllReportUser" resultType="reportUser">
		select * from report_user order by no desc
	</select>
	
	<select id="selectAllReportBoard" resultType="reportBoard">
		select 
		    r.*,
		    b.board_name
		from 
		    report_board r left join board_id b
		    on r.board_id = b.board_id
		order by
			no desc
	</select>
	
	<select id="selectTotalReport" resultType="_int">
		select count(*) from report_user
	</select>
	
	<delete id="deleteUser">
		delete from member where id = #{reportee}
	</delete>
	
	<select id="selectTotalReportBoard" resultType="_int">
		select count(*) from report_board
	</select>
</mapper>

















