<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="findKakao" resultType="member">
		select * from member where name=#{nickname} and id=#{email}
	</select>
	<insert id="kakaoInsert">
		insert into 
			member(id, email, name, nickname)
			values(
				#{email}, 
				#{nickname},
				#{nickname}
			)
	</insert>
	
	<insert id="insertMember">
		insert into 
			member(id, password, email, nickname, name, phone) 
		values( 
			#{id}, 
			#{password}, 
			#{email}, 
			#{nickname}, 
			#{name}, 
			#{phone} 
		)
	</insert>
	<select id="selectOneMember" resultType="member">
		select
			*
		from
			member_view
		where id = #{id}
	</select>
	
	<select id="selectAddress" resultType="_int">
		select
			count(*)	
		from
			address
		where
			member_id = #{memberId}
	</select>
	
	<insert id="insertAddress">
		insert into
			address
		values(
			#{memberId},
			#{postcode},
			#{roadAddress},
			#{extraAddress},
			#{depth1},
			#{depth2},
			#{depth3},
			#{bunji1},
			#{bunji2},
			#{detailAddress},
			#{latitude},
			#{longitude}
		)
	</insert>	
	
	<update id="updateAddress">
		update
			address
		set
			postcode = #{postcode},
			road_address = #{roadAddress},
			extra_address = #{extraAddress},
			depth1 = #{depth1},
			depth2 = #{depth2},
			depth3 = #{depth3},
			bunji1 = #{bunji1},
			bunji2 = #{bunji2},
			detail_address = #{detailAddress},
			latitude = #{latitude},
			longitude = #{longitude}
		where
			member_id = #{memberId}
	</update>
	
	<update id="memberUpdate">
		update
			member
		set
			nickname = #{nickname},
			email = #{email},
			phone = #{phone},
			profile_image = #{profileImage},
			password = #{encodedNewPassword}
		where
			id = #{id}
	</update>
	
	<select id="selectOneMemberCount" resultType="_int">
		select count(*) from member where id = #{id}
	</select>
	
	<select id="selectOneMemberNicknameCount" resultType="_int">
		select count(*) from member where nickname = #{nickname}
	</select>
	
	<insert id="insertAuthority">
		insert into 
			authority(member_id) 
		values(
			#{id}
		)
	</insert>
	
	<update id="updateMemberCash">
		update member set cash = cash + -1 * #{pay} where id = #{id}
	</update>
	
	<update id="chargeMemberCash">
		update member set cash = cash + #{price} where id = #{lenderId}
	</update>
	
	
	<select id="selectMemberCash" resultType="_int">
		select cash from member where id = #{id}
	</select>

	<select id="selectMemberCash2" resultType="_int">
		select cash from member where id = #{lenderId}
	</select>
	
	<update id="updateReturnDeposit">
		update member set cash = cash + #{deposit} where id = #{targetId}
	</update>
	
	<select id="selectMemberRating" resultType="_int">
		SELECT
		    nvl(sum(RATING), 0)
		FROM
		    REVIEW r join member m
		    on r.receiver_id = m.id
		WHERE
		    RECEIVER_ID = #{id}
	</select>
	
</mapper>
