<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insertMember"> 
		insert into 
			member(id, password, email, nickname, name, phone) 
		values( 
			#{id}, 
			#{password}, 
			#{email}, 
			#{nickname}, 
			#{name}, 
			#{phone} 
		)
	</insert>
	<select id="selectOneMember" resultType="member">
		select
			*
		from
			member
		where id = #{id}
	</select>
	
	<insert id="insertAddress">
		insert into
			address
		values(
			#{memberId},
			#{postcode},
			#{roadAddress},
			#{extraAddress},
			#{depth1},
			#{depth2},
			#{depth3},
			#{bunji1},
			#{bunji2},
			#{detailAddress},
			#{latitude},
			#{longitude}
		)
	</insert>	
	
	<update id="memberUpdate">
		update
			member
		set
			nickname = #{nickname},
			email = #{email},
			phone = #{phone}
		where
			id = #{id}
	</update>
	
	<select id="selectOneMemberCount" resultType="_int">
		select count(*) from member where id = #{id}
	</select>
	
	<select id="selectOneMemberNicknameCount" resultType="_int">
		select count(*) from member where nickname = #{nickname}
	</select>
	
</mapper>