<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="booking">
    <select id="selectBookInfo" resultMap="bookingMap">
        select
            b.*,
            bi.*
        from
            booking b join book_info bi on
            b.isbn13 = bi.isbn13
    </select>
	<resultMap type="bookInfo" id="bookInfoMap">
		<id column="isbn13" property="isbn13"/>
		<result column="title" property="title"/>
		<result column="author" property="author"/>
		<result column="publisher" property="publisher"/>
		<result column="pubdate" property="pubdate"/>
		<result column="item_page" property="itemPage"/>
		<result column="category_name" property="categoryName"/>
		<result column="toc" property="toc"/>
		<result column="cover" property="cover"/>
		<result column="description" property="description"/>
	</resultMap>
	
	<resultMap type="booking" id="bookingMap">
		<id column="board_no" property="boardNo"/>
		<result column="content" property="content"/>
		<result column="book_status" property="bookStatus"/>
		<result column="price" property="price"/>
		<result column="deposit" property="deposit"/>
		<result column="writer" property="writer"/>
		<result column="delete_yn" property="deleteYn"/>
		<result column="isbn13" property="isbn13"/>
		<association property="bookInfo" resultMap="bookInfoMap"/>
	</resultMap>

	<select id="selectTotalBookingCount" resultType="int">
        select
            count(*)
        from
            booking
    </select>
	
</mapper>