<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">
	<select id="selectBookReviewByIsbn" resultMap="bookReviewMap">
		<![CDATA[
		SELECT
			tb2.review_no,
			tb2.isbn13,
			tb2.content,
			tb2.rating,
			tb2.writer,
			tb2.reg_date,
			tb2.delete_yn,
			tb2.ID,
			tb2.NICKNAME,
			tb2.profile_image
		from
			(SELECT 
				rownum rn,
				tb1.*
			FROM
				(
				SELECT
					*
				from
				    BOOK_REVIEW b join member m ON
				    b.writer = m.id
				WHERE
					b.isbn13 = #{isbn}
					AND
					b.DELETE_YN = 'N'
				ORDER BY
					b.reg_date DESC
				) tb1
			WHERE
				rownum <= #{cri.pageNum} * #{cri.amount}) tb2
		WHERE
			rn > (#{cri.pageNum} - 1) * #{cri.amount}	
		]]>
	</select>
	
	<resultMap type="bookReview" id="bookReviewMap">
		<id column="review_no" property="reviewNo"/>
		<result column="isbn13" property="isbn13"/> 
		<result column="content" property="content"/> 
		<result column="rating" property="rating"/> 
		<result column="writer" property="writer"/> 
		<result column="reg_date" property="regDate"/> 
		<result column="delete_yn" property="deleteYn"/> 
		<association property="member" javaType="Member">
			<id property="id" column="id"/>
			<result property="nickname" column="nickname"/>
			<result property="profileImage" column="profile_image"/>
		</association>
	</resultMap>

	<select id="selectTotalBookReviewCount" resultType="int">
		SELECT
			count(*)
		from
		    BOOK_REVIEW
		WHERE
			isbn13 = #{isbn}
			AND
			DELETE_YN = 'N'
	</select>
	
	<select id="selectReviewIdCount" resultType="int">
		SELECT
			count(*)
		from
		    BOOK_REVIEW b join member m ON
		    b.writer = m.id
		WHERE
			b.isbn13 = #{isbn}
			AND
			m.id = #{id}
			AND 
			b.DELETE_YN = 'N'
	</select>
	
	<insert id="bookReviewEnroll">
		INSERT INTO BOOK_REVIEW values(
			seq_book_review_review_no.nextval,
			#{isbn},
			#{content},
			#{rating},
			#{id},
			DEFAULT,
			DEFAULT	
		)
	</insert>

</mapper>